<div class="box">
	<div class="row">
		
		<div class="card hovercard ">
			
			<div class="avatar">
				<img alt="" src=<%= image_path('profile.png')%> width="100px" height="100px">
			</div>
			<div class="info">
				<div class="desc"><i class="glyphicon glyphicon-user"> Name: </i>  <%= link_to user.username, user_path(user)%></div>
				<div class="desc"><i class="glyphicon glyphicon-envelope"> Mail: </i> <%= user.email%></div>
				<div class="desc"><i class="glyphicon glyphicon-check"> Created: </i> <%= user.created_at.strftime("%B %d, %Y") %>
					<div class="desc"><i class="glyphicon glyphicon-pencil"> Articles: </i> <%= pluralize(user.articles.count, "articles")%></div>
				</div>
			</div>
			
		</div>
		
	</div>
</div>