<h1 style=" text-align: center; margin-bottom: 30px"> Welcome <%= @user.username %></h1>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src=<%= image_path('user-yoda.jpg') %>  alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4><%= @user.username%></h4>
                        <small><cite title="Earth Planet"> Earth Planet <i class="glyphicon glyphicon-map-marker">
                        </i></cite></small>
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i> <%= @user.email%>
                            <br />
                            <i class="glyphicon glyphicon-globe"></i> <a href="http://www.samanage.com">www.samanage.com</a>
                            <br />
                            <i class="glyphicon glyphicon-gift"></i> <%=@user.created_at.strftime("%B %d, %Y") %></p>
                        <!-- Split button -->
                  
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <h3>Articles by <%= @user.username%></h3>
        <hr>
        <div class="container">
            <%= render("articles/index", articles: @user.articles )%>
        </div>
    </div>
</div>
